.claude/
.cache/
.opencode/
.vscode/
opencode.json
compile_commands.json
AGENTS.md

# Keil MDK
*.uvguix.*
*.uvoptx
*.dbgconf
*.lst
firmware/MiniAudioPlayerST/MDK-ARM/DebugConfig/
firmware/MiniAudioPlayerST/MDK-ARM/RTE/
firmware/MiniAudioPlayerST/MDK-ARM/MiniAudioPlayerST/
*.scvd

# py
__pycache__/