.claude/
.cache/
compile_commands.json

# Keil MDK
*.uvguix.*
*.uvoptx
*.dbgconf
*.lst
firmware/MiniAudioPlayerST/MDK-ARM/DebugConfig/
firmware/MiniAudioPlayerST/MDK-ARM/RTE/
firmware/MiniAudioPlayerST/MDK-ARM/MiniAudioPlayerST/
*.scvd
